<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <add key="Provider" value="Microsoft.ACE.OLEDB.12.0" />

    <add key="AccessLink" value="C:\Users\Public\Documents\Database\" />

    <add key="Server" value="SKPI-WPCS" />

    <add key="Server_Apps1" value="skpi-apps1" />

    <add key="Database" value="SMSDB" />

    <add key="Database_SOMS" value="SOaPMS" />
    
    <add key="Database_PIS" value="PIS" />

    <add key="User" value="sa" />

    <add key="User_Apps1" value="BarcodeUser" />

    <add key="Password" value="P@55w0rd" />

    <add key="Password_Apps1" value="1234@qwer" />
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />


    <add key="DeploymentPath32Bit" value="C:\Program Files\Sohbi Kohgei\Delivery Monitoring System\"/>

    <add key="DeploymentPath64Bit" value="C:\Program Files (x86)\Sohbi Kohgei\Delivery Monitoring System\"/>


    <add key="rptMDWR" value="CrystalReports\rptMostDeptWithRepair.rpt"/>

  </appSettings>

</configuration>
